.App {
  text-align: center;
}
div.title{
  position: absolute;
  top: 0;
  border: 2px solid red;
}
div.menu{
  position: absolute;
  top: 200px;
  border: 2px solid blue;
}
div.main{
  position: absolute;
  top: 500px;
  border: 2px solid green;
}
div.footer{
  position: absolute;
  top: 800px;
  border: 2px solid orange;
}

